<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zerotop.blog.db.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="top.zerotop.blog.db.model.Article" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.zerotop.blog.db.model.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, author, img_url, digest
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByArticleId" resultMap="ResultMapWithBLOBs"  >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id}
  </select>
  
  <select id="listArticle" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from article
    limit #{startpage}, #{endpage}
  </select>
  
  <delete id="deleteArticleById" >
    delete from article
    where id = #{id}
  </delete>

  <insert id="insertArticle" useGeneratedKeys = "true" parameterType="top.zerotop.blog.db.model.Article" >
    <selectKey resultType="int"  keyProperty="id">
        SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >title,</if>
      <if test="author != null" >author,</if>
      <if test="imgUrl != null" >img_url,</if>
      <if test="digest != null" >digest,</if>
      <if test="content != null" >content,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >#{title},</if>
      <if test="author != null" >#{author},</if>
      <if test="imgUrl != null" >#{imgUrl},</if>
      <if test="digest != null" >#{digest},</if>
      <if test="content != null" >#{content},</if>
    </trim>
  </insert>

  <update id="updateByArticleId" parameterType="top.zerotop.blog.db.model.Article" >
    update article
    <set >
      <if test="title != null" >title = #{title},</if>
      <if test="author != null" >author = #{author},</if>
      <if test="imgUrl != null" >img_url = #{imgUrl},</if>
      <if test="digest != null" >digest = #{digest},</if>
      <if test="content != null" >content = #{content},</if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>