<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zerotop.blog.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="top.zerotop.blog.domain.UserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="gtm_create" property="gtmCreate" jdbcType="TIMESTAMP" />
    <result column="gtm_modified" property="gtmModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, user_id, gtm_create, gtm_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectRoleNameByUserId" >
    select role_name from role r, user_role ur
    where ur.user_id = #{id}
          and r.id = ur.role_id
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.zerotop.blog.domain.UserRole" >
    insert into user_role (id, role_id, user_id, 
      gtm_create, gtm_modified)
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{gtmCreate,jdbcType=TIMESTAMP}, #{gtmModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.zerotop.blog.domain.UserRole" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="gtmCreate != null" >
        gtm_create,
      </if>
      <if test="gtmModified != null" >
        gtm_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="gtmCreate != null" >
        #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gtmModified != null" >
        #{gtmModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.zerotop.blog.domain.UserRole" >
    update user_role
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="gtmCreate != null" >
        gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gtmModified != null" >
        gtm_modified = #{gtmModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.zerotop.blog.domain.UserRole" >
    update user_role
    set role_id = #{roleId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      gtm_modified = #{gtmModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>